<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation of binary to decimal</title>
</head>
<body>
    <h1 style="color:rgb(0, 89, 255) ;">Program to convert binary to decimal<h1>
    <h2>Please enter you number a binary number value<h2>
    <form action="/calc" method="POST">
        <input style="width:100px;border-width: 5px;" type="number" name = "number1"><br>
         
        <button style="background-color:rgb(243, 29, 29); color:darkblue ;   " >Convert Calculate</button>
    </form>
</body>
</html>